body{
    
    background-color: #f4f9f2;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#hemail {
    text-align: right;
    color: #292a28;
    font-family: 'Roboto Slab', serif;
}
#Linkbar {
    text-align: right;
    color: #292a28;
    font-family: 'Roboto Slab', serif;
    

    
}
a:visited{
    color: #7a93fc;
    text-decoration: none;
    
} 
a.class1:link{
    color: #292a28;
    text-decoration: none
}
a.class1:visited{
    color: #292a28;
    text-decoration: none
}
a:link{
    color: #7a93fc
    text-decoration:none;
}
#logo{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 50px;
    color: #292a28
}
#sub{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 25px;
    color: #292a28;
    padding-bottom: 0px;
    
}

#logoimg{
    text-align: center;
    align-self: center;
    padding-bottom: 15px;

}



div#logo > p {
    margin-bottom:0;
}
div#sub > p{
    margin-top: 5px
}
#wrapper {
    width:750px;
    margin:0 auto;
    height: 500px;
    padding-top: 15px;
}
#col-left{
    float:left;
    width:250px;
}
#col-right{
    float: right;
    width: 250px;
}
#Latest{
    color: #292a28;
    font-family: 'Roboto Slab', serif;
    font-size: 30px
}
#works{
    color: #292a28;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    
}
#Video{
    width: 300px;
    height: 300px;
}
#bottombar{
    width: 100%;
    text-align: center;
    opacity: 0.8;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 8px;
}
    
#Location{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#video-works{
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
}
#video-1{
    width: 600px;
    height:auto;
}
.video-des{
    text-align: middle;
    color: #292a28;
    font-family: 'Roboto';
    width: 400px;
}
#defaultStyle{
    color:  #292a28;
    font-family: 'Roboto';
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
}
#WIP-title{
    margin-top: 3px;
}

#WIP-titlemain{
    font-family: 'Roboto Slab', serif; 
    font-size: 50px;
    margin-bottom: 5px;
}
.headerWIP{
    font-family: 'Roboto Slab', serif; 
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}
#xcode{
}
#redditimg{
    width: 350px;
    float: right;
    text-align: right;
    padding-left: 5px;
    
}
#subtitlemain{
    margin-top: 2px;
    padding-top: 0px;
}
#bottombarlayer{
    padding-right: 15px;
}
#bracketsimg{
    width: 350px;
    float: right;
    text-align: right;
    padding-left: 5px
}
#nmapimg{
    margin-top: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.codeback{
    background-color: #e6e6e6;
    border-style: double;
    width: 500px;
    
}
#nethunter{
    float: left;
    width:80%;
    text-align: left;
}  
#videoexam{
    float: right;
    width: 20%;
}
#test{
    float: left
}
#bottomhalf{
    padding-top: 30px;
}
#html5vid{
    text-align: center;
    align-content: center;
}
.center { margin: 0 auto;}
#vlightbox1{
    padding-bottom: 30px;
}